.deib-ic-word-check-summary {
	details {
		margin: 5px 0;
		border-bottom: 1px solid #e0e0e0;
		padding: 15px 0;
	}

	details:last-child {
		border-bottom: none;
	}

	summary {
		cursor: pointer;
		list-style: none;
	}

	.issue-row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 5px;
	}

	.alternatives-row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	svg {
		margin-right: 5px;
	}

	.icon {
		border-radius: 50%;
		fill: black;
		margin-right: 10px;

		&.issue {
			fill: #e26f56;
		}

		&.explanation {
			background-color: none;
			margin: 2px 10px 0 0;
			padding: 0;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
		}
	}

	.toggle {
		color: unset;
		margin-left: auto;
		text-decoration: underline;
	}

	.explanation {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		margin-top: 5px;
		padding: 10px 0px;
	}
}
